/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 1;
    padding: 1.5;
}

body {
    font-family: Arial, sans-serif;
    background-color: ##ff0000;
}

header {
    background-color:##ff0000;
    color:##008800;
    text-align: center;
    padding: 3rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
    text-color: ##0000ff;
}

nav ul li {
    display: inline;
    margin: 0 30px;
    text-color: ##00ff00;
	
}

a {
    text-decoration: none;
    color: #ff0000;
    
}

section {
    margin: 2rem;
    padding: 3rem;
    background-color:##880000;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
}

.project {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid ##ff0000;
    background-color:##00ff00;
}

